* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
}

nav{
    display: flex;
    width: 28%;
    height: 100%;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    height: 100%;
}

img {
    object-fit: cover;
}

/*Entête*/

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    width: 100%;
    height: 100%;
}

nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}



nav li:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC;
    font-weight: 500;
}

#act:hover {
    color: #0065FC;
}
 #heb:hover {
    color: #0065FC;
 }

.logo {
    width: 62px;
    height: 19px;
    display: flex;
}


/*Slogan+recherche*/

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

#research {
    display: flex;
    height: 49px;
    margin-top: 20px;
}

.container_research {
    display: flex;
}

.container_research input[type='search'] {
    width: 245px;
    height: 49px;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #F2F2F2;
}

#icon_dot {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.container_button {
    position: relative;
    right: 15px;
    border-radius: 10px;
}

.button_desk {
    width: 132px;
    height: 49px;
    padding: 15px 16px 15px 16px;
    background-color: #0065FC;
    border: 1px solid;
    border-radius: 0 15px 15px 0;
    border-color: #0065FC;
    cursor: pointer;
    color: white;

    font-size: 18px;
    font-weight: 700;
}

.button_mobile {
    display: none;
}

/*Filtres+info*/
.filters {
    margin-top: 32px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filters li {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 19px 0px 10px;
}

.filters ul {
    display: flex;
    gap: 30px;
    width: 100%;
    font-weight: 700;
    font-size: 17px;
    flex-wrap: wrap;
}

.filters li:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filters i {
    color: #0065FC;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.info {
    display: flex;
    align-items: center;
    margin: 38px 0px 39px 8px;
}

.logo_info {
    border: 1px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #0065FC;
    margin-right: 11px;
}

/**Hebergements+populaire**/
.section_main {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 22px;
    margin: 0;
}

/**Heb**/
.container_heb {
    width: 66%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.heb_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container_heb ul {
    display: flex;
    gap: 30px;
}

.container_heb li {
    border: 5px solid;
    border-radius: 20px;
    border-color: white;
    overflow: hidden;
    width: 33%;
    height: 199px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.container_heb img {
    width: 100%;
    height: 55%;
}

h3 {
    margin: 0;
    font-size: 16px;
}

.infos_heb {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    justify-content: space-evenly;
    height: 45%;
}

.star {
    font-size: 12px;
}

.infos_heb p {
    font-size: 14px;
}

.star_blue {
    color: #0065FC;
}

.star_grey {
    color: #F2F2F2;
}

.container_heb .title {
    margin-top: 17px;
}

/**Pop**/
.container_pop {
    width: 31%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.popu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container_pop li {
    display: flex;
    border: 5px solid;
    border-radius: 20px;
    border-color: white;
    overflow: hidden;
    height: 144px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.container_pop img {
    width: 35%;
}

.container_pop ul {
    flex-direction: column;
    display: flex;
    gap: 33px;
}

.infos_pop_star {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
}

.pop_name {
    margin-bottom: 7px;
}

.fa-chart-line {
    color: #0065FC;
    font-size: 18px;
}

/**Activités**/
.content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.activites {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list_act {
    display: flex;
    gap: 43px;
    margin-bottom: 60px;
}

.list_act img {
    width: 100%;
    height: 389px;
}

.list_act li {
    border-radius: 20px;
    border-color: white;
    overflow: hidden;
    width: 25%;
    height: 445px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.list_act h3 {
    display: flex;
    height: 11%;
    align-items: center;
    padding-left: 19px;
}

.footer {
    background-color: #F2F2F2;
    height: 225px;
    display: flex;
    padding-left: 70px;
    padding-top: 45px;
}

.footer_container {
    width: 100%;
}

.footer_links {
    margin-top: 20px;
}

.footer_links li {
    margin-bottom: 12px;
}

.footer_links a:hover {
    color: #0065FC;
}

/**Responsive**/

@media screen and (max-width: 991px) {
    body {
        padding: 0px 30px;
    }

    .filters {
        gap: 15px;
    }
    
    .filters li {
        padding-right: 13px;
    }

    .filters ul {
        gap: 20px;
    }

    .section_main {
        flex-direction: column;
        gap: 50px;
    }

    .container_heb {
        width: 100%;
    }

    .container_pop {
        width: 100%;
        height: 278px;
    }

    .container_pop ul {
        flex-direction: row;
        gap: 26px;
    }

    .container_pop li {
        width: 33%;
    }

/**Activ**/
    .list_act {
        gap: 50px;
    }

    .list_act li {
        height: 267px;
    }

    .list_act img {
        height: 211px;
    }

    .list_act h3 {
        height: 17%;
        width: 85%;
    }

    .activites h1 {
        margin-left: 9px;
    }
}

@media screen and (max-width:767px) {
    body {
        padding: 0px;
    }
    
    header {
        flex-direction: column;
        height: 115px;
    }

    .booki_logo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav li {
        border-bottom: #F2F2F2 2px solid;
    }

    nav li:hover {
        border-bottom: #0065FC 2px solid;
        border-top: none;
    }

    .slogan {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin-top: 12px;
    }
    
    .container_research {
        width: 100%;
    }
    
    .container_research input[type='search'] {
        width: 100%;
    }
    .button_desk {
        display: none;
    }

    .button_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 16px;
        gap: 10px;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 15px;
        color: white;
    }

    #research {
        width: 100%;
        margin-top: 35px;
        padding: 0px 20px;
    }

    .filters {
        flex-direction: column;
        padding: 0px 20px;
        margin-top: 15px;
        margin-left: 0;
        align-items: normal;
    }

    .filters ul {
        gap: 11px;
    }

    .filters li {
        width: 48%;
        font-size: 11px;
        padding: 0;
    }
    .info {
        padding : 0px 20px;
    }
    .section_main {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .container_pop {
        padding: 28px 20px 47px 20px;
        height: 100%;
        border-radius: 0px;
        gap: 26px;
    }

    .container_pop ul {
        flex-direction: column;
        gap: 11px;
    }

    .container_pop li {
        width: 100%;
    }

    .popu {
        margin-top: 0;
    }

    .container_heb {
        padding: 19px 20px 0px 20px;
        width: 100%;
        background-color: white;
        gap: 12px;
    }

    .container_heb ul {
        flex-direction: column;
        gap: 15px;
    }

    .container_heb li {
        width: 100%;
    }

    .container_heb .title {
        display: none;
    }

    .heb_content {
        gap: 15px;
    }
    
    .content {
        gap: 105px;
    }

    .activites {
        padding: 0px 30px;
    }

    .list_act {
        flex-direction: column;
    }

    .list_act li {
        width: 100%;
        height: 190px;
    }

    .list_act img {
        height: 141px;
    }

    .list_act h3 {
        height: 23%;
    }
    .footer {
        flex-direction: column;
        height: 100%;
        padding-left: 30px;
        gap: 40px;
    }
}