* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: black;
    height: 100%;
}

/*Entête*/
.header {
    display: flex;
    justify-content: space-between;
    height: 65px;
}

.header_nav {
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: space-between;
}

.header_nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_nav_link {
    width: 162px;
}

#heb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 400;
}

#heb:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC;
    font-weight: 500;
}

#act {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 400;
}

#act:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC;
    font-weight: 500;
}

.logo {
    width: 62px;
    height: 19px;
    display: flex;
}

.booki_logo {
    display: flex;
    align-items: flex-end;
}

/*Slogan+recherche*/
.slogan {
    margin-top: 63px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

#research {
    display: flex;
    height: 49px;
    margin-top: 20px;
}

.container_research {
    display: flex;
}

.container_research input[type='search'] {
    width: 236px;
    height: 49px;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #F2F2F2;
}

#icon_dot {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.container_button {
    position: relative;
    right: 15px;
    border-radius: 10px;
}

.button_desk {
    width: 132;
    height: 49;
    padding: 15px 16px 15px 16px;
    background-color: #0065FC;
    border: 1px solid;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: white;
    border-color: #0065FC;
    font-size: 18px;
    font-weight: 700;
}

.button_mobile {
    display: none;
}

/*Filtres+info*/
.filters {
    margin: 32px 414px 0px 12px;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.filters li {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 10px;
}

.filters ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-weight: 700;
    font-size: 17px;
}

.filters li:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filters i {
    color: #0065FC;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.info {
    display: flex;
    align-items: center;
    margin: 38px 0px 40px 8px;
}

.logo_info {
    border: 1px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #0065FC;
    margin-right: 11px;
}

/**Hebergements+populaire**/
.section_main {
    display: flex;
    justify-content: space-between;
}

/**Heb**/
.container_heb {
    width: 66%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
}

.container_heb ul {
    display: flex;
    justify-content: space-evenly;
}

.container_heb li {
    border: 5px solid;
    border-radius: 20px;
    border-color: white;
    margin: 15px;
    overflow: hidden;
    width: 33%;
    height: 190px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: cover;
    height: 60%;
}

h4 {
    margin: 0;
    font-size: 16px;
}

.infos_heb {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    justify-content: space-evenly;
    height: 40%;
}

.star {
    font-size: 12px;
}

.infos_heb p {
    font-size: 14px;
}

.container_heb h1 {
    margin: 42px 0px 8px 15px;
}

h3 {
    margin: 25px 0px 40px 15px;
}

.star_blue {
    color: #0065FC;
}

.star_grey {
    color: #F2F2F2;
}